.cart-container {
  display: flex;
  flex-direction: column;

  background-color: rgb(212, 212, 212);

  flex-grow: 1;
}

.cart-title {
  font-size: 2rem;
  font-weight: bold;

  text-decoration: underline;
}
