.cart-container {
  font-family: "Courier New", Courier, monospace;

  display: flex;
  flex-direction: column;

  background-color: rgb(212, 212, 212);

  flex-grow: 1;

  padding-bottom: 50px;
}

.cart-title {
  padding-left: 20px;

  font-size: 2rem;
  font-weight: bold;

  text-decoration: underline;
}
