.games-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px;

  /* Lets the games container take up the rest of the page */
  flex-grow: 1;

  background-color: rgb(212, 212, 212);
  padding: 20px 150px;
}

/* Stylings for mobile */
@media screen and (max-width: 600px) {
  .games-container {
    padding: 20px 10px;
  }
}
