.toggle-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;

  height: 50px;

  padding: 10px 10px;

  background-color: rgb(212, 212, 212);

  font-family: SupplyCenter;
  font-size: 1.5rem;
}

/* Hides radio button */
.radio {
  display: none;
}

/* Position the text inside each label */
.label {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 250px;

  cursor: pointer;
}

/* Background color for selected option */
.toggle-container .radio:checked + .label {
  background-color: gray;
  color: white;

  border-radius: 35px;

  transform: scaleX(1);
}

/* Styles for unselected options on hover */
.toggle-container .radio:not(:checked) + .label:hover {
  background-color: rgb(190, 190, 190);
  border-radius: 35px;
}

/* Stylings for mobile */
@media screen and (max-width: 600px) {
  .toggle-container {
    height: 40px;
    font-size: 0.8rem;

    gap: 0;

    padding: 10px 5px;
  }

  .label {
    width: 8rem;
  }
}
