.platforms-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  row-gap: 5px;
}

.platform {
  border: 1px solid black;

  padding: 2px;
  margin: 1px;

  font-size: 1.1rem;

  background-color: rgb(85, 85, 85);
  color: white;
}

/* Stylings for mobile */
@media screen and (max-width: 600px) {
  .platform {
    font-size: 1rem;
  }
}
