/* Navbar container */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 60px;
  background-color: rgb(102, 101, 101);

  padding: 20px 0;
}

.title {
  color: white;
  font-size: 3rem;

  cursor: pointer;

  text-decoration: none;
}

/* Cart Icon */
.cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;

  cursor: pointer;

  position: absolute;
  right: 5%;

  color: white;

  font-size: 2rem;
  text-decoration: none;

  padding: 10px;
}

/* Item counter for cart */
.counter {
  /* Positions counter to the upper right of cart icon */
  position: relative;
  top: -15px;

  font-size: 1rem;

  border: 1.5px solid white;
  border-radius: 1000px;

  padding: 2px 5px;
}

.total {
  font-size: 1.5rem;

  border: 1.5px solid white;
  border-radius: 1000px;

  padding: 2px 15px;
}

/* Stylings for mobile */
@media screen and (max-width: 600px) {
  .navbar {
    justify-content: flex-start;
    padding-left: 15px;
  }

  .title {
    font-size: 2rem;
  }

  .total {
    font-size: 1.3rem;
  }
}
