/* Navbar container */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100px;
  background-color: rgb(102, 101, 101);

  padding-top: 20px;
  padding-bottom: 20px;
}

.title {
  color: white;
  font-size: 3rem;
}

/* Cart Icon */
.cart {
  position: absolute;
  right: 5%;

  color: white;
}
