.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  gap: 10px;

  width: 300px;
  height: auto;
  min-height: 250px;

  border: 2px solid black;
  border-radius: 20px;

  box-shadow: 3px 3px 3px gray;

  padding: 10px;

  animation: slide-up 300ms ease-out forwards;
}

.image-container {
  width: 95%;
  height: 65%;

  padding: 5px;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;

  border-radius: 20px;
}

.name {
  font-size: 1.5rem;
  font-weight: bold;
}

.price-button-container {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  gap: 15px;

  width: 100%;
}

.price {
  font-size: 1.4rem;
  font-weight: bold;
}

.limit-notice {
  font-size: 0.9rem;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
