.cart-list-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  height: 150px;
  min-width: 90vw;

  border: 3px solid black;
  margin: 5px;

  border-radius: 10px;

  overflow-y: auto;
  padding: 10px;
}

.image-container {
  width: 200px;
  height: auto;
}

.image {
  height: 100%;
  width: 100%;

  object-fit: cover;

  border-radius: 10px;
}

.name-price-container,
.quantity-container,
.total-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding-top: 25px;
  padding-left: 15px;

  font-size: 1.3rem;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  gap: 15px;

  padding-top: 15px;

  width: 100%;
}
