.cart-list-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  height: 150px;
  min-width: 90vw;

  border: 3px solid black;
  margin: 5px;

  border-radius: 10px;

  overflow: auto;
  padding: 10px;
}

.image-container {
  width: 200px;
  height: auto;
}

.image {
  height: 140px;
  width: 100%;

  object-fit: cover;

  border-radius: 10px;
}

.name-price-container,
.quantity-container,
.total-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding-top: 25px;
  padding-left: 15px;

  font-size: 1.3rem;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  gap: 15px;

  padding-top: 15px;

  width: 100%;
}

.buttons-container > button {
  padding: 5px 15px;
  border-radius: 20px;
}

.input {
  height: 1.4rem;
  font-size: 1.4rem;
}

.submit {
  padding: 5px 15px;
  border-radius: 20px;

  width: 100%;

  text-align: center;
}

/* Stylings for mobile */
@media screen and (max-width: 600px) {
  .cart-list-item {
    width: 100px;
  }

  .image-container {
    width: 100px;
  }

  .name-price-container,
  .quantity-container,
  .total-container {
    padding-left: 5px;
    font-size: 1rem;
  }

  .total-container {
    text-align: center;
  }

  .buttons-container {
    flex-direction: column;

    gap: 5px;
  }

  .buttons-container > button {
    padding: 5px 15px;
    border-radius: 20px;
  }

  .input {
    width: 100%;
  }

  .submit {
    padding: 5px 15px;
    border-radius: 20px;

    width: 100%;

    text-align: center;
  }
}
