.cart-list-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  height: 150px;

  border: 3px solid black;
  margin: 5px;

  border-radius: 10px;
}

.image-container {
  width: 200px;
  height: auto;

  padding: 5px;
}

.image {
  height: 100%;
  width: 100%;

  border-radius: 10px;
}

.name-container,
.price-container,
.quantity-container,
.total-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding-top: 25px;
  padding-left: 15px;

  font-size: 1.5rem;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  gap: 15px;

  padding-top: 15px;

  width: 100%;
}
